@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  width: 150px;
  height: 220px;
}

.card-number {
  font-size: 64px;
}

.clr-red {
  color: red;
}

.clr-black {
  color: black;
}

#cardSuit,
#cardSuitRotated {
  font-size: 34px;
}

.card-rotated {
  transform: rotate(180deg);
}
